# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Py_project\mc_seq_rec\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
